* {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 50px;
}

nav {
    float: left;
    width: 35%;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

#search {
    display: inline;
    float: left;
    width: 30%;
    padding: 10px;
}

#account {
    float: left;
    width: 35%;
    padding: 10px;
    /* background-color: rgb(169, 97, 97); */
}

header i {
    font-size: 30px;
}

#logo {
    padding: 0 0 0 15px;
    width: 120px;
}

#search input {
    padding: 9px;
    border: 1px solid grey;
    border-radius: 2px;
    float: left;
    width: 70%;
}

#profilePicture {
    width: 50px;
    border-radius: 25px;
    float: right;
}

#notification,
#addVideo {
    padding: 10px;
    float: right;
}

.otherVideo {
    width: 100%;
    height: 150px;

}

.otherVideoImage {
    float: left;
    width: 60%;
    height: 150px;
    margin-top: 15px;
}

.otherCaption {
    padding: 10px;
    float: left;
    width: 40%;
    height: 150px;
}

.othertitle {
    font-weight: bold;
    color: rgb(36, 36, 36);
}

.thumbnailImage {
    width: 100%;
    height: 100%;
}

#shortNav {
    width: 100px;
    display: inline;
    padding: 12px;
    margin-bottom: 15px;
}

#shortNav button {
    border: 1px solid grey;
    font-size: 16px;
    border-radius: 15px;
}

.author {
    color: rgb(157, 159, 160);
}

#title {
    width: 100%;
    height: auto;


}

#titleHeader {
    font-size: 20px;
    width: 100%;
}

#titleFooter {
    margin-top: 15px;
    width: 100%;
    font-size: 15px;

}

#date {
    float: left;
    color: rgb(155, 159, 163);
    width: 50%;

}

#reaction {
    float: left;
    width: 50%;

}

#reaction span {
    float: right;
    font-weight: bold;
    color: black;


}

/* #author {
    width: 100%;
    display: block;
}
#authorpp {
    float: left;
    width: 8%;
}

#authorimage {
    width: 60px;
    border-radius: 30px;
}

#authorData {
    float: left;    
    width: 40%;
}
#authorData span {
    font-weight: bold;
} */

#subscribe {
    background-color: pink;
    width: 60%;
}

#subscribe button {
    float: right;
}

#subscribe i {
    float: right;
}









main {
    padding: 20px;
    float: left;
    width: 70%;
    position: relative;
}

aside {
    padding: 20px;
    float: left;
    width: 30%;
}



#video {
    width: 100%;
    position: relative;
    height: 0;
    padding-bottom: 50%;
}

#video iframe {
    position: absolute;
    width: 100%;
    height: 100%;

}

#publisher {
    margin-top: 15px;
    padding: 2px;
    width: 100%;

}

#commentes {
    padding: 20px;
    width: 100%;

}

@media screen and (max-width: 800px) {

    main,
    nav,
    #search,
    #account,
    #reaction,
    #date,
    aside {
        width: 100%;
    }

    #search,
    #account {
        display: none;
    }

    #reaction span {
        float: left;
    }
}